body {
  background-color: lightblue;
  font-family: papyrus;
  text-align: center;
}

main {
  margin-left: 100;
  background-color: lightgreen;
  text-align: left;
  font-size: 20;
  color: black;
}
#quote {
  font-style: italic;
}
h1 {
  font-size: 44px;

}

main p {

  color: darkgreen;

}
ul ul {
  font-size: 22;
  color: darkblue;
}

.Heading {
  font-size: 44;
  font-weight: bold;
  color: red;
}
