body {
  background-color: lightyellow;
  font-family: papyrus;
  text-align: center;
}

main {
  background-color: lightgreen;
  text-align: left;
  font-size: 20;
  color: black;
}
#quote {
  font-style: italic;
}
h1 {
  font-size: 44px;

}

main p {

  color: darkorange;

}
ul ul {
  font-size: 22;
  color: darkblue;
}

.Heading {
  font-size: 34;
  color: darkgreen;
}
